<td><a href="releases/{{name}}">{{name}}</a></td>
<td>{{state}}</td>
<td>{{release_date releaseDate}}</td>
<td>{{submissions.length}}</td>
{{#if_admin}}
<td>{{release_action state}}</td>
{{/if_admin}}
  