<div class="row-fluid" style="margin-bottom:20px">
  <div class="span6">
    <div class="row-fluid">
      <h2 class="pull-left">Release Summary</h2>
      <div style="margin-top:17px; margin-right:50px" class="pull-right">
        {{#if_opened state}}
        <button id="complete-release-popup-button" class="btn btn-success">Release Now</button>
        {{/if_opened}}
      </div>
    </div>
      <span>Name:</span> <span>{{name}}</span><br>
      <span>State:</span> <span class="{{lowercase state}}">{{state}}</span><br>
      {{#if_completed state}}
      <span>Date:</span> <span>{{date releaseDate}}</span><br>
      {{/if_completed}}
      <span>Number of projects:</span> <span>{{submissions.length}}</span><br>
      {{#if summary.SIGNED_OFF}}
      <span class="label label-success">Signed Off {{summary.SIGNED_OFF}}</span>
      {{/if}}
      {{#if summary.VALID}}
      <span class="label label-success">Valid {{summary.VALID}}</span>
      {{/if}}
      {{#if summary.QUEUED}}
      <span class="label label-warning">Queued {{summary.QUEUED}}</span>
      {{/if}}
      {{#if summary.INVALID}}
      <span class="label label-important">Invalid {{summary.INVALID}}</span>
      {{/if}}
      {{#if summary.ERROR}}
      <span class="label label-important">Error {{summary.ERROR}}</span>
      {{/if}}
      {{#if summary.NOT_VALIDATED}}
      <span class="label">Not Validated {{summary.NOT_VALIDATED}}</span>
      {{/if}}

  </div>
</div>
