<div class="row-fluid">
  <div class="span6">
    <ul class="nav nav-list">
      <li class="nav-header">Submission Summary</li>
      <table class="table summary">
        <tbody>
        {{#if summary.SIGNED_OFF}}
        <tr class="signed">
          <td width="200">Signed Off</td>
          <td>{{summary.SIGNED_OFF}}</td>
        </tr>
        {{/if}}
        {{#if summary.VALID}}
        <tr class="valid">
          <td width="200">Valid</td>
          <td>{{summary.VALID}}</td>
        </tr>
        {{/if}}
        {{#if summary.QUEUED}}
        <tr class="queued">
          <td width="200">Queued</td>
          <td>{{summary.QUEUED}}</td>
        </tr>
        {{/if}}
        {{#if summary.INVALID}}
        <tr class="invalid">
          <td width="200">Invalid</td>
          <td>{{summary.INVALID}}</td>
        </tr>
        {{/if}}
        {{#if summary.NOT_VALIDATED}}
        <tr>
          <td width="200">Not Validated</td>
          <td>{{summary.NOT_VALIDATED}}</td>
        </tr>
        {{/if}}
        </tbody>
      </table>
    </ul>
  </div>
</div>
