<ul id="breadcrumb" class="breadcrumb">
    <li><a href="/releases/"><i class="icon-home"></i> Releases</a> <span class="divider">/</span></li>
    <li><a href="/releases/{{release}}/">{{release}}</a> <span class="divider">/</span></li>
    <li><span>{{projectKey}}</span></li>
</ul>
<div class="row-fluid" style="margin-bottom:20px">
    
    <div class="summary span8">
        <div class="row-fluid">
            <h2 class="pull-left">
                Submission Summary
            </h2>
        </div>
        
        <div class="span6 pull-left" style="margin-left:0">
            <span class="key">Name</span>&nbsp;&nbsp;&nbsp;<span>{{projectName}}</span><br>
            <span class="key">Number of submitted files</span>&nbsp;&nbsp;&nbsp;<span>{{submissionFiles.length}}</span><br>
            <span class="key">Number of valid files</span>&nbsp;&nbsp;&nbsp;<span>{{validFileCount}}</span><br>
            <span class="key">Size of submission data</span>&nbsp;&nbsp;&nbsp;<span>{{fileSize submissionFiles}}</span><br>
            <br>
            <div class="row-fluid">
                <!--<span class="pull-left alert"> -->
                <span>
                    <!--<span class="{{lowercase state}}" style="font-size:1.10em">Submission state is:  {{underscore2space state}}</span>-->
                    <div style="font-size:2em">{{submission_label state}}</div>
                    <div>
                        {{#show_submission_action_button submissionFiles}}
                        <div style="margin-top:7px; margin-right:50px">
                            {{submission_action state}}
                        </div>
                        {{/show_submission_action_button}}
                    </div>
                </span>
            </div>
        </div>

        <div class="span6 pull-right">
            <table id="datatype-summary" width="100%" class="table table-bordered table-striped table-hover table-condensed"></table>
        </div>

    </div>

</div>
