<div class="row-fluid page-header">
  <ul class="breadcrumb">
    <li>
      <a href="/releases/{{release}}">{{release}}</a> <span class="divider">/</span>
    </li>
  </ul>
  <div class="pull-left">
    <h1><small>SUBMISSION</small> {{projectName}}<br>
      <small class="{{lowercase state}}">{{underscore2space state}}</small>
      <small>as of {{date lastUpdated}}</small>
    </h1>
  </div>
  <div class="pull-right">
    {{submission_action state}}
  </div>
</div>