<div class="row-fluid page-header">
  <div class="pull-left">
    <h1>{{release}} / {{projectKey}} <small class="{{lowercase state}}">{{underscore2space state}}</small></h1>
  </div>
  <div class="pull-right">
    {{submission_action state}}
  </div>
</div>
