<div class="row-fluid page-header">
  <ul class="breadcrumb">
    <li>
      <a href="/releases">Releases</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="/releases/{{release}}">{{release}}</a> <span class="divider">/</span>
    </li>
  </ul>
  <div class="pull-left">
    <h1><small>SUBMISSION</small> {{projectName}}<br>
      <small class="{{lowercase state}}">{{underscore2space state}}</small>
      <small>as of {{date lastUpdated}}</small>
    </h1>
  </div>
  <div class="pull-right">
    {{submission_action state}}
  </div>
</div>
<ul class="nav nav-tabs">
  <li class="active"><a href="#report" data-toggle="tab">Report</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="report">
    <table id="report-container" width="100%" class="report table table-striped"></table>
  </div>
</div>
